@keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(2);
  }
  100% {
      transform: scale(1.2);
  }
}
.aboutmain{
    background-image: url('../../public/images/about/about.png');
   
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    .screen {
    
        position: absolute;
        top: 30%;
        left: 12%;
        transform: translate(-10%, -10%); 
        z-index: 1; 
        .progressbar{
          position: relative;
          overflow: hidden;
          width: 90%;
          height: 15px;
          border-radius: 5px;
          background-color: #eee;
        }        
        .radioicon{
          animation: pulse 3s  ease-in infinite;
          color: rgba($color: #ffffff, $alpha: 0.4);
      }
}

}